<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sbol_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4027D32722A8459799FDB080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40FD5CCB14F344A4BB3CE34F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D1E159361974580A56D2B59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5877273444944A66943F441F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ADDC05F723347CD80BBF4DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA4A1900FDAB4A51A9996523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB979B8C835040689BBCB4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECD8A5039081426B8B5B8C3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF32AB6AEFA448ABBCB9DAF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
